{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- OPTIONS BAR -->
<div class="d-flex flex-row flex-grow-0 my-1 toolbar">
    <div class="form-inline">
        <label class="col-form-label mr-2" for="theme">Theme</label>
        <select class="form-control mr-2" id="theme" style="width: 110px;">
            <option value="dracula">Dracula</option>
            <option value="default">Default</option>
        </select>
    </div>

    <div class="form-check form-check-inline">
        <label class="form-check-label mr-2" for="lineNumbers">LN.</label>
        <input type="checkbox" class="form-check-input" id="line_numbers" checked>
    </div>

    <div class="form-inline">
        <label for="indentUnit" class="mr-2">SPC</label>
        <input type="text" class="form-control" id="indent_unit" value="4" style="width: 60px;">
    </div>
</div>

<!-- TOOL BAR -->
<div class="container-fluid d-flex flex-row justify-content-between">
    <div class="">
        <button id="btn_save" class="btn btn-primary" disabled>
            <i class="fas fa-save"></i> <span class="d-none d-sm-inline">Save</span>
        </button>

        <button id="btn_new" class="btn btn-primary">
            <i class="fas fa-file"></i> <span class="d-none d-sm-inline">New</span>
        </button>

        <button id="btn_share" class="btn btn-primary" disabled>
            <i class="fas fa-share-alt"></i> <span class="d-none d-sm-inline">Share</span>
        </button>

        <button id="btn_mysources" class="btn btn-warning" type="button" data-toggle="collapse" data-target="#mySources"
            aria-expanded="false" aria-controls="mySources">
            <i class="fas fa-code"></i> <span class="d-none d-sm-inline">My sources</span>
        </button>
    </div>

    <div class="form-row">
        <button class="cols btn btn-success px-2" disabled id="run">
            <i class="fas fa-play"></i> <span class="d-none d-sm-inline">Run</span>
        </button>

        <label class="col-form-label font-weight-bold d-none d-sm-inline">Lang: </label>
        <select class="col" style="width: 90px" id="lang">
            <option value="python">Python</option>
            <option value="c">C</option>
            <option value="java">Java</option>
        </select>
    </div>

</div>

<!-- SOURCES ------------------------------------------------------>
<div class="container-fluid collapse bg-dark mt-2 py-2" id="mySources">
    <div class="d-flex flex-wrap">
    </div>
</div>

<main class="d-flex flex-column main mt-1 bg-dark">
    <!-- CODE EDITOR ----------------------------->
    <textarea id="code" class="flex-grow-1 flex-fill CodeMirror" placeholder="Type the source here!"></textarea>

    <!-- CODE STATUSBAR -------------------------->
    <div class="flex-grow-0 pl-2 badge-info p-1">
        <span id="statusbar"></span>
        <span class="ml-3 font-weight-bold">Editing: </span>
        <span id="filename-display">noname.py</span>
    </div>
    <div class="d-flex flex-row flex-grow-1">
        <textarea id="input" class="flex-grow-1 font-weight-bold p-2" placeholder="Input data: stdin"></textarea>
        <textarea id="output" class="flex-grow-1 font-weight-bold p-2" placeholder="Run output: stdout"
            readonly></textarea>
    </div>
</main>

<!-- LAST EXECUTION INFO ------------------------>
<div class="badge-info d-flex justify-content-start flex-row p-1 mt-1">
    <span id="cpu_time" class="badge badge-primary mr-2 p-2">CPU TIME:</span>
    <span id="memory" class="badge badge-primary mr-2 p-2">MEMORY: </span>
</div>



<!-- Scripts ------------------------------------>
<script src="{{ url_for('static', filename='js/editor.js') }}"></script>
{% endblock %}